.timeline {
    position: relative;
    display: grid;
    gap: 17px;
    margin-top: 100px;
    
    .timeline-line {
        position: absolute;
        height: 100%;
        width: 4px;
        background: #882817;
        opacity: 0.5;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
    }
  
    .timeline-card {
        position: relative;
        background: white;
        width: 40%;
        height: fit-content;
        padding: 0 17px;
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: 3px 3px 8px hsla(0, 0%, 0%, 0.1);
    }

    .fade-up {
      opacity: 0;
      animation: fadeUp 1.5s ease-out forwards;
    }

    .timeline-item:nth-child(odd) .timeline-card{
        left:53%;
    }

    .timeline-item:nth-child(even) .timeline-card{
        left:6%;
    }
  
    .timeline-dot{
        position:absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        background: #882817;
        border-radius: 50%;
        z-index:1;
        border: 4px solid #882817;
        pointer-events: none;
    }

    .card-inner {
      position: relative;
      width: 100%;
      height: 650px;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      z-index: 3;
    }

    .card-inner.flipped {
      transform: rotateY(180deg);
    }

    .card-front,
    .card-back {
      position: absolute;
      backface-visibility: hidden;
      padding: 17px;
      background: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .card-image {
      opacity: 0.5;
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }

    .card-back {
      height: auto;
      transform: rotateY(180deg);
      align-items: center;
      justify-content: center;
      text-align: justify;
    }

    .card-title {
      opacity: 0.5;
      font-size: 32px;
      margin-bottom: 30px;
    }

    .card-back p {
      font-size: 24px;
      line-height: 1.5;
    }

    @media(max-width: 767px) {
      .timeline-line {
        transform: unset;
        left:7px;
      }
      .timeline-dot {
        transform: unset;
        left: 1%;
      }
      .timeline-card{
        width: 90%;
        left: 5%;
      }
      .timeline-item:nth-child(odd) .timeline-card{
        left: 5%
      }

      .timeline-item:nth-child(even) .timeline-card{
        left: 5%
      }
      
      .card-inner {
        height: 400px;
      }
      .card-back p {
        font-size: 14px;
      }
      .card-title {
        font-size: 24px;
      }
    }
  }

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
